<script>
  redirectDelay = 6000;

  const bar = new ProgressBar.Circle('#countdown-timer', {
    strokeWidth: 50,
    duration: redirectDelay,
    color: 'white',
    trailColor: '#00a2e8',
    svgStyle: null
  });

  bar.animate(1.0);

  const cfcRedirect = () => {
    window.location = "{{ site.redirectUrl }}";
  };
  
  const doAlert = () => {
    alert('DEMO: Window would normally redirect now')
  };

  const demoMode = new URL(window.location).searchParams.get('demo') === 'true';
  if (demoMode) {
    setTimeout(doAlert, redirectDelay);
  } else {
    setTimeout(cfcRedirect, redirectDelay);
  }
</script>
