<script defer="defer">
  redirectDelay = 8000;

  const bar = new ProgressBar.Circle('#countdown-timer', {
    strokeWidth: 50,
    duration: redirectDelay,
    color: 'white',
    trailColor: '#00a2e8',
    svgStyle: null
  });

  bar.animate(1.0);

  const cfcRedirect = () => {
    window.location = "{{ site.redirectUrl }}";
  };

  const demoMode = new URL(window.location).searchParams.get('demo') === 'true';
  if (!demoMode) {
    setTimeout(alert('DEMO: Window would normally redirect now'), redirectDelay);
  } else {
    setTimeout(cfcRedirect, redirectDelay);
  }
  
  const cookieExpire = new Date();
  // 5 minute expiration
  cookieExpire.setTime(date.getTime() + (5 * 60 * 1000));
  
  const cookieExpireString = `expires=${cookieExpire}`;
  const cookieString = "appealRedirect={{ site.redirectUrl }}; path=/; domain=.cfcservers.org; " + cookieExpireString;
  
  document.cookie = cookieString;
</script>
